* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.wrapper {
    height: 0;
    margin: 0 auto;
    padding-bottom: 56.25%;
    position: relative;
}

#freezer {
    background: rgba(89, 89, 187, 0.7);
    height: 58vw;
    left: 10%;
    position: absolute;
    right: 10%;
    top: 20%;
    max-width: 100%;
    z-index: 1;
}

#fridge {
    background: rgba(187, 107, 107, 0.7);
    height: 110vw;
    left: 10%;
    position: absolute;
    right: 10%;
    top: 127%;
    max-width: 100%;
    z-index: 1;
}

figure {
    height: 0;
    margin: 0 auto;
    padding-bottom: 56.25%;
    position: relative;
}

img {
    height: auto;
    left: 0;
    padding: 10%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

p {
    font-size: 3rem;
    font-family: 'Londrina Solid', cursive;
    text-shadow: 2px -2px black;
    z-index: 1000;
}

label {
    color: black;
    font-size: 1.75em;
    text-shadow: 2px -1px white;
}


/******* Charles Styles *******/



