.container {
    background-image: url('/img/fridge.png');
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: length ; */
    /* width: 2em; */
    /* height: 85em; */
    /* border: 2px dashed #333; */
}